USE BIMonitoring
GO
/*==============================================================================
  dbo.usp_LogShrink
  Purpose:
    Safely shrink a database LOG file with guardrails:
      - Checks recovery model & backup preconditions (FULL/BULK_LOGGED)
      - Measures BEFORE/AFTER log size and usage
      - Reports savings in MB/GB (file size & used space)
      - Supports DEBUG (dry-run)
    Robustness:
      - Uses sys.dm_db_log_space_usage if available
      - Falls back to DBCC SQLPERF(LOGSPACE) on older versions

  Parameters:
    @DbName         SYSNAME  -- Target database (required)
    @ResultFillPct  INT = 90 -- Desired log fill (%) after shrink
    @MinTargetMB    INT = 256-- Minimum target size (MB)
    @MaxAgeMinutes  INT = 60 -- Max age of last LOG backup (minutes) for FULL/BULK_LOGGED
    @Debug          BIT = 0  -- 1 = print only, 0 = execute

  Returns:
    One result row with BEFORE/AFTER and savings metrics. Also prints details.

  Notes:
    - No hard RETURN on policy breaches; shrink is skipped but AFTER metrics
      are still collected to keep the report consistent.
==============================================================================*/

IF OBJECT_ID(N'dbo.usp_LogShrink', 'P') IS NOT NULL
    DROP PROCEDURE dbo.usp_LogShrink;
GO

CREATE PROCEDURE dbo.usp_LogShrink
      @DbName        SYSNAME
    , @ResultFillPct INT  = 90
    , @MinTargetMB   INT  = 256
    , @MaxAgeMinutes INT  = 60
    , @Debug         BIT  = 0
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------------------------
    -- Variables
    --------------------------------------------------------------------------
    DECLARE @LogFileName SYSNAME;
    DECLARE @SQL         NVARCHAR(MAX);

    DECLARE @BeforeTotalMB DECIMAL(18,2), @BeforeUsedPct DECIMAL(5,2), @BeforeUsedMB DECIMAL(18,2);
    DECLARE @AfterTotalMB  DECIMAL(18,2), @AfterUsedPct  DECIMAL(5,2), @AfterUsedMB  DECIMAL(18,2);

    DECLARE @TargetMB INT;

    DECLARE @RecModel       SYSNAME;
    DECLARE @LastFullBackup DATETIME2(0);
    DECLARE @LastLogBackup  DATETIME2(0);
    DECLARE @AgeMin         INT;

    DECLARE @Abort BIT = 0;
    DECLARE @AbortReason NVARCHAR(4000) = N'';

    --------------------------------------------------------------------------
    -- 0) Basic checks
    --------------------------------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM sys.databases WHERE name = @DbName)
    BEGIN
        RAISERROR('Database %s not found.', 16, 1, @DbName);
        RETURN;
    END;

    SELECT @RecModel = recovery_model_desc
    FROM sys.databases
    WHERE name = @DbName;

    PRINT CONCAT('DB: ', @DbName, ' | Recovery Model: ', @RecModel);

    --------------------------------------------------------------------------
    -- 1) BEFORE: log usage (robust) + logfile name
    --    Try sys.dm_db_log_space_usage; fall back to DBCC SQLPERF(LOGSPACE)
    --------------------------------------------------------------------------
    BEGIN TRY
        SET @SQL = N'
            USE ' + QUOTENAME(@DbName) + N';
            SELECT
                @BeforeTotalMB = CAST(total_log_size_in_bytes/1024.0/1024.0 AS decimal(18,2)),
                @BeforeUsedPct = CAST(used_log_space_in_percent AS decimal(5,2))
            FROM sys.dm_db_log_space_usage;

            SELECT @LogFileName = name
            FROM sys.database_files
            WHERE type_desc = ''LOG'';';
        EXEC sp_executesql
             @SQL
           , N'@BeforeTotalMB decimal(18,2) OUTPUT, @BeforeUsedPct decimal(5,2) OUTPUT, @LogFileName sysname OUTPUT'
           , @BeforeTotalMB = @BeforeTotalMB OUTPUT
           , @BeforeUsedPct = @BeforeUsedPct OUTPUT
           , @LogFileName   = @LogFileName   OUTPUT;
    END TRY
    BEGIN CATCH
        -- Fallback: DBCC SQLPERF(LOGSPACE)
        DECLARE @LogSpace TABLE
        (
            DatabaseName    SYSNAME,
            LogSizeMB       FLOAT,
            LogSpaceUsedPct FLOAT,
            [Status]        INT
        );
        INSERT INTO @LogSpace EXEC('DBCC SQLPERF(LOGSPACE)');

        SELECT
            @BeforeTotalMB = CAST(LogSizeMB AS DECIMAL(18,2)),
            @BeforeUsedPct = CAST(LogSpaceUsedPct AS DECIMAL(5,2))
        FROM @LogSpace
        WHERE DatabaseName = @DbName;

        -- Still need the logfile name
        SELECT @LogFileName = name
        FROM sys.master_files
        WHERE database_id = DB_ID(@DbName)
          AND type_desc = 'LOG';
    END CATCH;

    SET @BeforeUsedMB = CAST(@BeforeTotalMB * (@BeforeUsedPct/100.0) AS DECIMAL(18,2));

    PRINT CONCAT('BEFORE | LogFile: ', ISNULL(@LogFileName,'<unknown>'),
                 ' | TotalMB: ', @BeforeTotalMB, ' | Used%: ', @BeforeUsedPct,
                 ' | UsedMB: ', @BeforeUsedMB);

    IF @LogFileName IS NULL
    BEGIN
        RAISERROR('No LOG file found in %s.', 16, 1, @DbName);
        RETURN;
    END;

    --------------------------------------------------------------------------
    -- 2) Backup info & policy (set @Abort only; do not RETURN)
    --------------------------------------------------------------------------
    SELECT @LastFullBackup = MAX(backup_finish_date)
    FROM msdb.dbo.backupset
    WHERE database_name = @DbName
      AND [type] = 'D'
      AND backup_finish_date IS NOT NULL;

    SELECT @LastLogBackup = MAX(backup_finish_date)
    FROM msdb.dbo.backupset
    WHERE database_name = @DbName
      AND [type] = 'L'
      AND backup_finish_date IS NOT NULL;

    PRINT CONCAT('Last FULL: ', COALESCE(CONVERT(VARCHAR(19), @LastFullBackup, 120), '<none>'));
    PRINT CONCAT('Last LOG : ', COALESCE(CONVERT(VARCHAR(19), @LastLogBackup , 120), '<none>'));

    IF @RecModel = N'SIMPLE'
    BEGIN
        PRINT 'Note: SIMPLE – no LOG backups required. Shrink can be executed directly.';
    END
    ELSE IF @RecModel IN (N'FULL', N'BULK_LOGGED')
    BEGIN
        IF @LastFullBackup IS NULL
        BEGIN
            SET @Abort = 1;
            SET @AbortReason += N'No FULL backup found. ';
            PRINT 'ABORT CONDITION: No FULL backup found. Please take a FULL backup first.';
        END;

        IF @LastLogBackup IS NULL
        BEGIN
            SET @Abort = 1;
            SET @AbortReason += N'No LOG backup found. ';
            PRINT 'ABORT CONDITION: No LOG backup found. Please take a LOG backup first.';
        END;

        IF @LastLogBackup IS NOT NULL
        BEGIN
            SET @AgeMin = DATEDIFF(MINUTE, @LastLogBackup, GETDATE());
            IF @AgeMin > @MaxAgeMinutes
            BEGIN
                SET @Abort = 1;
                SET @AbortReason += N'LOG backup too old. ';
                PRINT CONCAT('ABORT CONDITION: Last LOG backup is ', @AgeMin,
                             ' minutes old (limit: ', @MaxAgeMinutes, '). Please take a fresh LOG backup.');
            END;
        END;
    END
    ELSE
    BEGIN
        PRINT CONCAT('Unknown recovery model: ', @RecModel, '. Proceed with caution.');
    END;

    --------------------------------------------------------------------------
    -- 3) Target size (based on BEFORE)
    --------------------------------------------------------------------------
    SET @TargetMB =
        CASE
            WHEN @ResultFillPct <= 0 OR @ResultFillPct > 100 THEN CEILING(@BeforeTotalMB)
            ELSE
                CASE
                    WHEN CEILING((@BeforeTotalMB * (@BeforeUsedPct/100.0)) / (@ResultFillPct/100.0)) < @MinTargetMB
                        THEN @MinTargetMB
                    ELSE CEILING((@BeforeTotalMB * (@BeforeUsedPct/100.0)) / (@ResultFillPct/100.0))
                END
        END;

    PRINT CONCAT('Calculated target size: ', @TargetMB, ' MB (MinTargetMB=', @MinTargetMB,
                 ', TargetFill%=', @ResultFillPct, ')');

    --------------------------------------------------------------------------
    -- 4) Shrink (or skip)
    --------------------------------------------------------------------------
    SET @SQL = N'
        USE ' + QUOTENAME(@DbName) + N';
        CHECKPOINT;
        DBCC SHRINKFILE(' + QUOTENAME(@LogFileName,'''') + N', ' + CAST(@TargetMB AS NVARCHAR(20)) + N');
    ';

    IF @Abort = 1
    BEGIN
        PRINT 'INFO: Shrink will be skipped due to abort conditions.';
    END
    ELSE IF @Debug = 1
    BEGIN
        PRINT 'DEBUG: Would execute the following statement:';
        PRINT @SQL;
    END
    ELSE
    BEGIN
        PRINT CONCAT('Shrinking LOG "', @LogFileName, '" in DB ', @DbName, ' to ', @TargetMB, ' MB ...');
        EXEC (@SQL);
    END;

    --------------------------------------------------------------------------
    -- 5) AFTER: log usage again (same robust approach)
    --------------------------------------------------------------------------
    BEGIN TRY
        SET @SQL = N'
            USE ' + QUOTENAME(@DbName) + N';
            SELECT
                @AfterTotalMB = CAST(total_log_size_in_bytes/1024.0/1024.0 AS decimal(18,2)),
                @AfterUsedPct = CAST(used_log_space_in_percent AS decimal(5,2))
            FROM sys.dm_db_log_space_usage;';
        EXEC sp_executesql
             @SQL
           , N'@AfterTotalMB decimal(18,2) OUTPUT, @AfterUsedPct decimal(5,2) OUTPUT'
           , @AfterTotalMB = @AfterTotalMB OUTPUT
           , @AfterUsedPct = @AfterUsedPct OUTPUT;
    END TRY
    BEGIN CATCH
        -- Fallback via DBCC SQLPERF(LOGSPACE)
        DECLARE @LogSpace2 TABLE
        (
            DatabaseName    SYSNAME,
            LogSizeMB       FLOAT,
            LogSpaceUsedPct FLOAT,
            [Status]        INT
        );
        INSERT INTO @LogSpace2 EXEC('DBCC SQLPERF(LOGSPACE)');

        SELECT
            @AfterTotalMB = CAST(LogSizeMB AS DECIMAL(18,2)),
            @AfterUsedPct = CAST(LogSpaceUsedPct AS DECIMAL(5,2))
        FROM @LogSpace2
        WHERE DatabaseName = @DbName;
    END CATCH;

    SET @AfterUsedMB = CAST(@AfterTotalMB * (@AfterUsedPct/100.0) AS DECIMAL(18,2));

    PRINT CONCAT('AFTER  | TotalMB: ', @AfterTotalMB, ' | Used%: ', @AfterUsedPct,
                 ' | UsedMB: ', @AfterUsedMB);

    --------------------------------------------------------------------------
    -- 6) Savings
    --------------------------------------------------------------------------
    DECLARE @FileSavingsMB DECIMAL(18,2) = @BeforeTotalMB - @AfterTotalMB;
    DECLARE @FileSavingsGB DECIMAL(18,3) = @FileSavingsMB / 1024.0;

    DECLARE @UsedSavingsMB DECIMAL(18,2) = @BeforeUsedMB  - @AfterUsedMB;
    DECLARE @UsedSavingsGB DECIMAL(18,3) = @UsedSavingsMB / 1024.0;

    PRINT '--- Savings summary ---';
    PRINT CONCAT('File size saved           : ', @FileSavingsMB, ' MB (', @FileSavingsGB, ' GB)');
    PRINT CONCAT('Used log space saved      : ', @UsedSavingsMB, ' MB (', @UsedSavingsGB, ' GB)');

    -- Final one-row report
    SELECT
        DatabaseName        = @DbName,
        RecoveryModel       = @RecModel,
        LogFileName         = @LogFileName,
        ResultFillPct       = @ResultFillPct,
        MinTargetMB         = @MinTargetMB,
        MaxAgeMinutes       = @MaxAgeMinutes,
        AbortOccurred       = @Abort,
        AbortReason         = NULLIF(@AbortReason, N''),
        -- BEFORE
        Before_TotalMB      = @BeforeTotalMB,
        Before_UsedPct      = @BeforeUsedPct,
        Before_UsedMB       = @BeforeUsedMB,
        -- Target
        TargetMB_Calculated = @TargetMB,
        -- AFTER
        After_TotalMB       = @AfterTotalMB,
        After_UsedPct       = @AfterUsedPct,
        After_UsedMB        = @AfterUsedMB,
        -- Savings
        Savings_File_MB     = @FileSavingsMB,
        Savings_File_GB     = @FileSavingsGB,
        Savings_Used_MB     = @UsedSavingsMB,
        Savings_Used_GB     = @UsedSavingsGB;
END
GO
